<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<system.serviceModel>
		<bindings>
			<netMsmqBinding>
				<binding name="msmqBinding" receiveRetryCount="1" maxRetryCycles="2" retryCycleDelay="00:00:05" receiveErrorHandling="Move">
					<security mode="None" />
				</binding>
			</netMsmqBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="myBehaviour">
					<serviceMetadata httpGetEnabled="false" />
					<serviceThrottling maxConcurrentSessions="24" maxConcurrentInstances="12" maxConcurrentCalls="2147483647" />
					<dataContractSerializer maxItemsInObjectGraph="2147483646" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="SimpleMsmqWcfServer.ServiceContract" behaviorConfiguration="myBehaviour">
				<endpoint address="net.msmq://localhost/private/SimpleMsmqWcfQueue" binding="netMsmqBinding" bindingConfiguration="msmqBinding" contract="SimpleMsmqWcf.IServiceContract">
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>